body{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
background-color:rgb(190, 158, 12);
padding: 10px;
}

.perfil img {
width: 10rem;
height: auto;
border-radius: 50%;
}

.perfil h2 {
font-size: 3rem;
}

.menu li {
display: inline;
}

nav ul li a {
color: white;
}




footer {
background-color:rgb(190, 158, 12);
text-align: center;
}